
        /* modal syles*/
        .modal-inner-wrapper
        {
            width: 500px;
            height: 500px;
            background-color: Gray;
        }
        .modal-inner-wrapper .content
        {
            width: 500px;
            height: 500px;
            background-color: #FFFFFF;
            border: solid 1px Gray;
            z-index: 9999;
            float: none;
            margin-top: 10px;
            margin-right: 10px;
        }
        .modal-inner-wrapper .content .close
        {
            float: right;
        }
        .modal-inner-wrapper .content .body
        {
            margin-top: 20px;
        }
        .rounded-corners
        {
            /*FOR OTHER MAJOR BROWSERS*/
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -khtml-border-radius: 5px;
            border-radius: 5px; /*FOR IE*/
            behavior: url(border-radius.htc);
        }
        .rel
        {
            position: relative;
            z-index: inherit;
            zoom: 1; /* For IE6 */
        }
        .modal-bg
        {
            background-color: Gray;
            filter: alpha(opacity=50);
            opacity: 0.6;
            z-index: 999;
        }
        .modal
        {
            position: absolute;
        }
        .modal-table
        {
            border-style: solid;
            border-color: Gray;
            border-width: 1px 1px 1px 1px;
            width: 80%;
            text-align: left;
        }
        .modal-table-inner
        { 
            .modal-table;
          }
        /* end modal syles*/
        .labelTags
        {
            text-align: center;
            font-size: small;
            font-style: italic;
        }
        .user-table
        {
            padding: 10px;
            width: 100%;
            border-width: 1px 1px 1px 1px;
        }
        .user-grid-header
        {
            font-size: 10pt;
            text-align: left;
        }
        .user-grid-item
        {
            font-size: 10pt;
            text-align: left;
        }
        .user-grid-image-header
        {
            width: 25px;
            text-align: left;
        }
        .address-grid-header
        {
            font-size: 10pt;
            text-align: center;
        }
        .address-grid-item
        {
            font-size: 10pt;
            text-align: center;
        }
        .address-grid-item-italics
        {
            font-style: italic;
        }
        .bordered-div
        {
            border: 1px black solid;
        }
        .padded-div
        {
            margin-left:30px;
        }
        .address-header
        {
            font-size: 12pt;
            text-align: center;
        }
        .tag-box
        { 
            font-style:italic;
        }
        
            
        